.wrapper.section#boards
        .inner
            .surfboards
                .surfboard-btn-group
                    button.sprite.surfboard-btn.surfboard-btn--previous
                    button.sprite.surfboard-btn.surfboard-btn--next
                .surfboard-list

                    .surfboard-item
                        .surfboard-item-left
                            .carousel.carousel-main.carousel-main1(data-flickity)
                                each link, alt in content.surfboardsItem1.img
                                    +carouselItem(alt, link)
                            .carousel.carousel-nav(data-flickity='{ "asNavFor": ".carousel-main1", "contain": true, "pageDots": false }')
                                each link, alt in content.surfboardsItem1.img
                                    +carouselItem(alt, link)


                        .surfboard-item-right
                            h2.surfboard-title= content.surfboardsItem1.title

                            .radio-wrapper
                                +starRating()(id= 'star-rating1')

                            .tab-panels
                                ul.tabs
                                    li.active(data-panel-name='panel11') DESCRIPTION
                                    li(data-panel-name='panel12') FEATURES
                                    li(data-panel-name='panel13') DIMENSIONS
                                #panel11.panel.active= content.surfboardsItem1.Description
                                #panel12.panel= content.surfboardsItem1.Features
                                #panel13.panel= content.surfboardsItem1.Dimensions
                            .price-btn-group
                                p.surfboard-price= content.surfboardsItem1.price
                                a.surfboard-btn-buy(href= content.surfboardsBtn.link)= content.surfboardsBtn.title



                    .surfboard-item
                        .surfboard-item-left
                            .carousel.carousel-main.carousel-main2(data-flickity)
                                each link, alt in content.surfboardsItem2.img
                                    +carouselItem(alt, link)
                            .carousel.carousel-nav(data-flickity='{ "asNavFor": ".carousel-main2", "contain": true, "pageDots": false }')
                                each link, alt in content.surfboardsItem2.img
                                    +carouselItem(alt, link)


                        .surfboard-item-right
                            h2.surfboard-title= content.surfboardsItem2.title

                            .radio-wrapper
                                +starRating()(id= 'star-rating2')

                            .tab-panels
                                ul.tabs
                                    li.active(data-panel-name='panel21') DESCRIPTION
                                    li(data-panel-name='panel22') FEATURES
                                    li(data-panel-name='panel23') DIMENSIONS
                                #panel21.panel.active= content.surfboardsItem2.Description
                                #panel22.panel= content.surfboardsItem2.Features
                                #panel23.panel= content.surfboardsItem2.Dimensions
                            .price-btn-group
                                p.surfboard-price= content.surfboardsItem2.price
                                a.surfboard-btn-buy(href= content.surfboardsBtn.link)= content.surfboardsBtn.title


                    .surfboard-item
                        .surfboard-item-left
                            .carousel.carousel-main.carousel-main3(data-flickity)
                                each link, alt in content.surfboardsItem3.img
                                    +carouselItem(alt, link)
                            .carousel.carousel-nav(data-flickity='{ "asNavFor":".carousel-main3", "contain": true, "pageDots": false }')
                                each link, alt in content.surfboardsItem3.img
                                    +carouselItem(alt, link)


                        .surfboard-item-right
                            h2.surfboard-title= content.surfboardsItem3.title

                            .radio-wrapper
                                +starRating()(id= 'star-rating3')

                            .tab-panels
                                ul.tabs
                                    li.active(data-panel-name='panel31') DESCRIPTION
                                    li(data-panel-name='panel32') FEATURES
                                    li(data-panel-name='panel33') DIMENSIONS
                                #panel31.panel.active= content.surfboardsItem3.Description
                                #panel32.panel= content.surfboardsItem3.Features
                                #panel33.panel= content.surfboardsItem3.Dimensions
                            .price-btn-group
                                p.surfboard-price= content.surfboardsItem3.price
                                a.surfboard-btn-buy(href= content.surfboardsBtn.link)= content.surfboardsBtn.title
